.container {
    max-width: 87.5rem;
    margin: 0 auto;
}
.main-header .navbar {
    display: flex;
    padding: 1rem;
}
.main-header .navbar ul {
    display: flex;
    justify-content: space-evenly;
}
.main-header .navbar ul li {
    display: flex;
    padding: 0 2rem;
}
.main-header .navbar ul li a {
    color: #ccc;
    text-decoration: none;
    padding: 5%;
    font-size: 1.3rem;
}
.logo {
    margin-left: 17%;
}
.main-header .caption {
    display: inline;
    text-align: center;
}
.main-header .caption h1 {
    font-size: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin: 10% 0 2% 10%;
}
.main-header .caption a {
    padding: 0 2rem 0 2rem;
    border:#333 .1rem solid;
    color: #333;
    text-decoration: none;
    margin: 0 0 0 16%;
    font-size: 2rem;
}
.main-header .header-img {
    margin: -35% 0 8% 70%;
}
.content-section .content-box-top {  /* no flex display here*/   
    display: inline-block;
    max-width: 31.25rem;
    margin: 2% 0 2% 8%;
    padding: 2rem;
}
.content-section .content-box h1 {
    font-size: 2rem;
    display: flex;
}
.content-section .middle-img {
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.content-section .content-box-bottom {  /* no flex display here*/   
    display: inline-block;
    max-width: 18.75rem;
    margin: 2% 0 2% 8%;
    padding: 1rem;
}
footer h1 {
    margin-top: 2%;
}
footer p {
    margin-bottom: 2%;
}
footer .copyright {
    text-align: center;
}

@media(max-width: 800px) {
 
    .main-header .navbar {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .main-header .header-img {
        display: none;
    }
    .logo {
        margin: auto;
        display: flex;
        justify-content: center;
        max-width: 50%;
    }
    .main-header .caption h1 {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .caption a{
        width:50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .content-box-top{
        width: 25%;
        display: flex;
    }

    .content-box-bottom{
        width: 20%;
        display: flex;
    }
   
}